
:root{
	--colorCharte1: #ef3c23;
	--colorCharte2: #3053a3;
	--colorCharte3: #faca2c;
	--colorTopMenu: #faca2c;
	--colorBotMenu: #faca2c;
	--colorBackground: black;
	--colorMapSea: white;
	--colorCountryName: #faca2c;
	--colorCountryNameText: #ef3c23;
	--colorLand: beige;
	--colorLandHover: beige;
	--colorLandWithStudentHover: orange;
	--colorSelectedLand: #ef3c23;
	--colorStudentInfos: rgb(255, 255, 200);
	--colorBackZone: #ef3c23;
	--colorIdentityCard: beige;
	--colorIdentityCardText: black;
	--colorLabelText: black;
	--colorDescription: lightSlateGray;
	--colorDescriptionText: beige;
	--colorProjectPage: #faca2c;
	--colorPartnersPage: #faca2c;
	--colorCreditsPage: #faca2c;
	--colorButton: rgba(55, 77, 168, 0.7);
	--colorButtonHover: #374da8;
	--topMenuHeight: 6vh;
	--avatarSize: 7.8vmin;
	--botMenuHeight: 15vh;
	--mainMargin:1vmin;
}

html, body {
	touch-action:none;
	user-select: none;
	margin: 0; 
	padding: 0;
	width:100vw;
	height: 100vh; 
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;	
	background-color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 3vmin;
}


.container{
	width: calc(100 * var(--vw) - 2 * var(--mainMargin));
	height:calc(100 * var(--vh) - 2 * var(--mainMargin));
	overflow:hidden;
	border-radius: var(--mainMargin);
	margin: var(--mainMargin);
	display: flex;
	flex-direction: column;	
}

#topMenu{
	width:calc(100 * var(--vw) - 2 * var(--mainMargin));
	height: var(--topMenuHeight);
	background-color: var(--colorTopMenu);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#logoDiv{
	height: var(--topMenuHeight);
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{
	height: calc(var(--topMenuHeight) * 0.8);
	width:auto;
	margin-right: 1vmin;
}

.vertical {
  height: calc(100% - 2 * var(--mainMargin) - var(--topMenuHeight) - var(--botMenuHeight));
  min-width: 20%;
  position: fixed;
  z-index: 1;
  top: calc(var(--topMenuHeight) + var(--mainMargin));
  left: -50%;
  background-color: #e8e8e8;
  transition: left 0.5s ease;  
  border-radius: 0 var(--mainMargin) var(--mainMargin) 0;
}


.vertical a {
  padding: 2%;
  padding-top: 15%;
  text-decoration: none;
  font-size: 115%;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.vertical a:hover {
  color: #111;
}

.vertical ul {
  list-style-type: none;
  padding: 0;
  margin: 2%;
}


.vertical.active {
  left: var(--mainMargin);
}


.vertical .close {
  position: absolute;
  top: 0;
  right: 0%;
  font-size: 200%;
}

#openBtn{
	width: calc(var(--topMenuHeight) * 0.8);
	height: calc(var(--topMenuHeight) * 0.8);
	margin-left:1vmin;
}


.burger-icon span {
  display: block;
  width: 100%;
  height: 12%;
  background-color: var(--colorButton);
  margin: 15% 0;
  transition: all 0.2s;
}

.burger-icon:hover span{
	background-color: var(--colorButtonHover);
}

#lightDarkDiv{
	height: calc(var(--topMenuHeight) * 0.8);
	width: calc(var(--topMenuHeight) * 0.8);
	display:flex;
	justify-content:center;
	align-items:center;
}




#mainZone{
	width:100%;
	background-color: yellow;
	height: calc(100% - var(--topMenuHeight) - var(--botMenuHeight));
	display: flex;
	flex-direction: column;
	position: relative;
}

#mapZone{
	background-color: var(--colorMapSea);
	height:100%;
	width:100%;
	transition: width 0.3s ease-out;
}

#mapZone.minimized{
	width:50%;
}

#closeBurgerDiv{
	position: absolute;	
	top: calc(var(--avatarSize) * 0.3 + 7%);;
	left: calc(var(--avatarSize) * 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	width:var(--avatarSize);
	height:var(--avatarSize);
}

.button{
	width: calc(var(--avatarSize) * 0.8);
	fill: rgba(255, 255, 255, 0);  
	transition: all 0.2s;
}

.button.visible{
	fill: var(--colorButton);
}

.button.visible:hover{
	width: calc(var(--avatarSize) * 0.95);
	fill: var(--colorButtonHover);
	cursor: pointer;
}

#zoomInButtonDiv{
	position: absolute;	
	top: calc(var(--avatarSize) * 0.3 + 7%);
	right: calc(2 * var(--avatarSize) * 0.3 + var(--avatarSize));
	width:var(--avatarSize);
	height:var(--avatarSize);
	display: flex;
	align-items: center;
	justify-content: center;
}



#zoomOutButtonDiv{
	position: absolute;	
	top: calc(var(--avatarSize) * 0.3 + 7%);
	right: calc(var(--avatarSize) * 0.3);
	width:var(--avatarSize);
	height:var(--avatarSize);
	display: flex;
	align-items: center;
	justify-content: center;
}



#countryName{
	background-color: var(--colorCountryName);
	width: 100%;
	height: 7%;  
	font: sans-serif;
	font-size: 3vmin;
	font-style: italic;
	font-weight: 700;
	color: var(--colorCountryNameText);
	display: flex;
	align-items: center;
	justify-content: center;
}

#mapImage{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 93%;
}

#svgMap{  
	width: 100%;
	max-height: 100%; 
}

.land{
	fill: var(--colorLand);
	stroke: gray;
	stroke-width: 0.2px;
	transition: all 0.2s ease-out;
}
.land.over{
	fill: var(--colorLandHover);
	stroke-width: 0.5px;
}
.land.student{
	fill: var(--colorLandWithStudent);
}

/*PT*/
.land._1{
	fill: #de7372;
}
/*FR*/
.land._2{
	fill: #f9d361;
}
/*TR*/
.land._3{
	fill: #eb945f;
}
/*IT*/
.land._4{
	fill: #6ba9db;
}
/*GB*/
.land._5{
	fill: #8bc269;
}
/*HR*/
.land._6{
	fill: #7c685e;
}
/*BE*/
.land._7{
	fill: #ec6ba6;
}
/*LV*/
.land._8{
	fill: #e96068;
}

/*CL*/
.land._9{
	fill: #b8cc1d;
}
/*AR*/
.land._10{
	fill: #c061a4;
}
/*GE*/
.land._11{
	fill: #7bd0b7;
}
/*TN*/
.land._12{
	fill: #ae7dbb;
}
/*IN*/
.land._13{
	fill: #fa9cae;
}


.land.student.over{
	fill: var(--colorLandWithStudentHover);;
	cursor: pointer;
}
.land.unselectable{
	fill: var(--colorLandHover);
	stroke-width: 0;
}
.land.student.selected{
	fill: var(--colorSelectedLand);
	stroke-width: 0.1px;
}


#avatarsOnCountry{
	
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	transition: all 0.5s 0.2s;
}

#avatarsOnCountry.visible{
	opacity:1;
}


.countryAvatarZone{
	pointer-events:none;
	cursor: pointer;
	display: flex; 
	flex-direction:column;
	align-items: center;
	justify-content: center;
	width: calc(1.4 * var(--avatarSize));  
	height: calc(1.4 * var(--avatarSize));			
	opacity: 0;
	transition: 0.3s opacity 0.5s;
}

.countryAvatarZone.visible{
	pointer-events:auto;
	opacity: 1;
}

.countryAvatarZone img{  
	width: 0;
	border-radius: 50%;
	transition: 0.3s width;
}

.countryAvatarZone.visible img{  
	width: calc(var(--avatarSize) * 0.8 * 1.4);	
}

.countryAvatarZone img.over{
	width: calc(var(--avatarSize) * 0.95 * 1.4);
}

#sidePanel{
	height:100%;
	width:50%;
	position:absolute;
	left:100%;
	transition: all 0.3s ease-out;
	top:0%;
}

#sidePanel.visible{
	top:0%;
	left:50%;
}

#studentPage{
	background-color: var(--colorStudentInfos);	
	flex-direction:column;
	justify-content:space-between;
	height:93%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	display: none;
}

#studentPage.visible{
	display:flex;
}


/* GROUPE A et B (css), c'est cet id qui vous concerne, vous aurez certainement à rajouter d'autres ids ou class pour gérer l'affichage des éléments de votre page







*/
#projectPage{
	
	background-color:var(--colorProjectPage);	
	color : var(--colorButtonHover);
	height:93%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
  	margin: 0 auto;
}

#projectPage h1{
	font-size: 140%;
	text-align: center;
	color :#ef3c23;
	font-weight: 400;
}

#projectPage h1:hover{
	filter: drop-shadow(0 0 0.75rem #ef3c23);
	color : #f8aeb2;
  	text-decoration: underline;
}

#projectPage span{
  	font-weight: 500;
}


#projectPage p.FontOpacity{
	font-weight: 900;
	margin: -100px 200px 40px;
	font-size: 160%;
	opacity: 0.25;
}
#projectPage .BgImg{
	margin: -200px 100px 40px;
	opacity: 0.2;
	width : 750px;
	height : 400px;
}


#projectPage h3{
	color : #ef3c23;
  	font-style: italic;
	font-size: 100%;
	margin: 0px 20px 0px;
}

#projectPage h3.right{
	text-align: right;
}

#projectPage h3.left{
	text-align: left;
}

#projectPage h3:hover{
	text-decoration: underline;
	filter: drop-shadow(0 0 0.75rem #ef3c23);
	color : #f8aeb2;
  	text-decoration: underline;
}

#projectPage p{
	text-align: justify;
	font-size: 80%;
	padding: 10px 40px;
}

#projectPage li{
	font-size: 80%;
}

/* Les lignes ci dessous proviennent de : https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-cssrainbow_text_animated */
#projectPage .b{
	text-align: center;
	text-decoration: underline;
	background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: rainbow_animation 6s ease-in-out infinite;
	background-size: 400% 100%;
	font-weight: bold;
}

@keyframes rainbow_animation {
	0%,100% {
		background-position: 0 0;
	}

	50% {
		background-position: 100% 0;
	}
}
/* Fin des lignes glanées sur StackOverflow */
#projectPage .b2{
	text-align: center;
	text-decoration: underline;
	background: linear-gradient(to right, #ef3c23, #ef3c23);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-size: 50% 100%;
	font-weight: bold;
}

#projectPage.visible{
	display:block;
}



/* GROUPE C et D (css), c'est cet id qui vous concerne, vous aurez certainement à rajouter d'autres ids ou class pour gérer l'affichage des éléments de votre page







*/
#partnersPage{
	background-color: var(--colorPartnersPage);	
	height:93%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
	color:var(--colorButtonHover);
}

#partnersPage.visible{
	display:block;
}




#ethno{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items: center
}

#ethno img{
	margin-top:2vmin;
	max-width:20%;
}

#partnersPage p{
	font-size: 80%;
	font-weight: 400;
}

#partnersPage span{
	font-weight: 500;
}

#partnersPage a{
	color:#EF3C23;
}

.partner{
	display:flex;
	justify-content:space-around;
}

.logoPartnerDiv{
	width:35%;
	display: flex;
	justify-content: flex-end;
	align-items:center;
}

.logoPartnerDiv img{
	max-height: var(--avatarSize);
	max-width: calc(var(--avatarSize) * 2.5);	
}

.textPartnerDiv{
	width:55%;
}

/* GROUPE E et F (css), c'est cet id qui vous concerne, vous aurez certainement à rajouter d'autres ids ou class pour gérer l'affichage des éléments de votre page







*/
#creditsPage{
	color: var(--colorButtonHover);
	text-align: center;
	background-color: var(--colorCreditsPage);	
	height:93%;
	width:90%;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
	font-size: 80%;
	font-weight: 400;
	padding: 0 5%;
}

#creditsPage.visible{
	display:block;
}

#creditsPage img{
	max-height: var(--avatarSize);
	max-width: calc(var(--avatarSize) * 2.5);
}

#studentDiv{
	width:100%;
	height:100%;
}

#backZone{
	height:7%;
	width:100%;
	background-color:var(--colorBackZone);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:var(--colorButton);
	transition: all 0.2s ease-out;
}

#backZone:hover{
	color:var(--colorButtonHover);
	cursor: pointer;
}	



/*GROUPE G ET H : >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


le css vous concernant est à partir de là jusqu'au prochain commentaire




*/

#studentPage
{background-color:#42251b;
font-size:75%;
	font-family: Monserrat,sans-serif;}



#identityDiv{
display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:5%;
	margin-top:7%;
	margin-bottom:10%;
	border-style: solid;
	border-width:10px;
	border-color:#3053a3;
	border-spacing: 10px;
	border-radius: 10%;
	background-color:#3053a3;
	color:white;

}

#photoImg{
	height: 150px;
	border-radius:20%;

	
	
}

#identityInfosDiv{
flex-direction:row;	
}

#countryDiv{
	height:18%;
	padding-bottom:1vmin;
	display: flex;
	flex-direction: row;
	align-items:center;
}

#country{
padding-left:3%;
}

#flagImg{

	width: 7vmin;
	border-radius: 20%;
	padding-right:0%;
}
#nameDiv{	
font-weight: regular;
}



#mainInstrumentDiv{
font-style:light;
font-size:80%;
padding:5%;
padding-bottom:1%;
}

#otherInstrumentsDiv{
	
font-size:77%;
padding:5%;
padding-top: 1%;

}


.bloc{
	margin-top:5%;	
	size:80%;
	font-family: Monserrat,sans-serif;
	color:white;

}

.label{
	font-weight: regular;
	text-align:left;
color:#ef3c23;
margin-left:5%;
}

.label:hover
{color:#f8aeb2;}

.textDescription{
	font-weight:light;
	margin:5%;
	margin-top:5%;
	margin-bottom:7%;
	border-style: solid;
	border-width:7px;
	border-color:#3053a3;
	border-spacing: 7px;
	border-radius: 20%;
	background-color:#3053a3;
}

/* FIN GROUPE G ET H 








*/




#botMenu{
	background-color: var(--colorBotMenu);
	width: 100%;
	height: var(--botMenuHeight);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	z-index:999999;
}


.avatarZone{
	cursor: pointer;
	display: flex; 
	align-items: center;
	justify-content: center;
	width: calc(var(--avatarSize) * 0.95);  
	height: var(--avatarSize);	
}

.avatarZone img{  
	width: calc(var(--avatarSize) * 0.8);
	border-radius: 50%;
	transition: 0.2s all;
}

.avatarZone img.over{
	width: calc(var(--avatarSize) * 0.9);
}

@media only screen and (orientation: portrait) {
	
	html, body {
		font-size: 3.5vmin;
	}
	
	#botMenu{
		height: var(--botMenuHeight);
	}
	
	#mainZone{
		height: calc(100% - var(--topMenuHeight) - var(--botMenuHeight));
		flex-direction: row;
	}
	
	#mapZone{
		height:100%;
		transition: height 0.3s ease-out;
	}

	#mapZone.minimized{
		width:100%;
		height:40%;
	}

	#sidePanel{
		height:60%;
		width:100%;
		position:absolute;
		top:100%;
		left:0%;
	}

	#sidePanel.visible{
		left:0%;
		top:40%;
	}
	
	
	
}