
:root{
	--colorCharte1: #ef3c23;
	--colorCharte2: #3053a3;
	--colorCharte3: #faca2c;
	--colorTopMenu: #3053a3;
	--colorBotMenu: #ef3c23;
	--colorBackground: black;
	--colorMapSea: #374da8;
	--colorCountryName: lightSlateGray;
	--colorCountryNameText: white;
	--colorLand: #a9e3da;
	--colorLandHover: #a9e3da;
	--colorLandWithStudentHover: orange;
	--colorSelectedLand: white;
	--colorStudentInfos: rgb(255, 255, 200);
	--colorBackZone: darkGray;
	--colorBackZoneText: white;
	--colorIdentityCard: beige;
	--colorIdentityCardText: black;
	--colorLabelText: black;
	--colorDescription: lightSlateGray;
	--colorDescriptionText: beige;
	--colorProjectPage: red;
	--colorPartnersPage: purple;
	--colorCreditsPage: yellow;
	--topMenuHeight: 6vh;
	--avatarSize: 7.5vmin;
	--portraitBotMenuHeight: 15vh;
	--landscapeBotMenuHeight: 13vh;
}

html, body {
	touch-action:none;
	user-select: none;
	margin: 0; 
	padding: 0;
	width:100vw;
	height: 100vh; 
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;	
	background-color: var(--colorBackground);
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 3vmin;
}


.container{
	width: calc(100% - 2vmin);
	height:calc(100 * var(--vh) - 2vmin);
	overflow:hidden;
	border-radius: 1vmin;
	margin: 1vmin;
	display: flex;
	flex-direction: column;	
}

#topMenu{
	width:100%;
	height: var(--topMenuHeight);
	background-color: var(--colorTopMenu);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

#logoDiv{
	height: var(--topMenuHeight);
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{
	height: calc(var(--topMenuHeight) * 0.8);
	margin: auto;
}

#mainZone{
	width:100%;
	background-color: yellow;
	height: calc(100% - var(--topMenuHeight) - var(--landscapeBotMenuHeight));
	display: flex;
	flex-direction: column;
	position: relative;
}

#mapZone{
	background-color: var(--colorMapSea);
	height:100%;
	width:100%;
	transition: width 0.3s ease-out;
}

#mapZone.minimized{
	width:50%;
}

#closeBurgerDiv{
	position: absolute;	
	top: calc(var(--avatarSize) * 0.3 + 7%);;
	left: calc(var(--avatarSize) * 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	width:var(--avatarSize);
	height:var(--avatarSize);
}

#closeHamburger{
	width: calc(var(--avatarSize) * 0.8);
	fill: rgba(255, 255, 255, 0);  
	transition: all 0.2s ease-in;
}

#closeHamburger.visible{
	fill: rgba(255, 255, 255, 0.7);
}

#closeHamburger.visible:hover{
	width: calc(var(--avatarSize) * 0.95);
	fill: rgba(255, 255, 255, 1);
	cursor: pointer;
}

#countryName{
	background-color: var(--colorCountryName);
	width: 100%;
	height: 7%;  
	font: sans-serif;
	font-size: 3vmin;
	font-style: italic;
	font-weight: 700;
	color: var(--colorCountryNameText);
	display: flex;
	align-items: center;
	justify-content: center;
}

#mapImage{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 93%;
}

#svgMap{  
	width: 100%;
	max-height: 100%; 
}

.land{
	fill: var(--colorLand);
	stroke: gray;
	stroke-width: 0.2px;
	transition: all 0.2s ease-out;
}
.land.over{
	fill: var(--colorLandHover);
	stroke-width: 0.5px;
}
.land.student{
	fill: var(--colorLandWithStudent);
}

/*PT*/
.land._1{
	fill: #de7372;
}
/*FR*/
.land._2{
	fill: #f9d361;
}
/*TR*/
.land._3{
	fill: #f9d361;
}
/*IT*/
.land._4{
	fill: #6ba9db;
}
/*GB*/
.land._5{
	fill: #8bc269;
}
/*HR*/
.land._6{
	fill: #7c685e;
}
/*BE*/
.land._7{
	fill: #ec6ba6;
}
/*LV*/
.land._8{
	fill: #e96068;
}

/*CL*/
.land._9{
	fill: #b8cc1d;
}
/*AR*/
.land._10{
	fill: #c061a4;
}
/*GE*/
.land._11{
	fill: #7bd0b7;
}
/*TN*/
.land._12{
	fill: #ae7dbb;
}
/*IN*/
.land._13{
	fill: #fa9cae;
}


.land.student.over{
	fill: var(--colorLandWithStudentHover);;
	cursor: pointer;
}
.land.unselectable{
	fill: var(--colorLandHover);
	stroke-width: 0;
}
.land.student.selected{
	fill: var(--colorSelectedLand);
	stroke-width: 0.1px;
}


#avatarsOnCountry{
	
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	transition: all 0.5s 0.2s;
}

#avatarsOnCountry.visible{
	opacity:1;
}


.countryAvatarZone{
	pointer-events:none;
	cursor: pointer;
	display: flex; 
	flex-direction:column;
	align-items: center;
	justify-content: center;
	width: var(--avatarSize);  
	height: var(--avatarSize);			
	opacity: 0;
	transition: 0.3s opacity 0.5s;
}

.countryAvatarZone.visible{
	pointer-events:auto;
	opacity: 1;
}

.countryAvatarZone img{  
	width: 0;
	border-radius: 50%;
	transition: 0.3s width;
}

.countryAvatarZone.visible img{  
	width: calc(var(--avatarSize) * 0.8);	
}

.countryAvatarZone img.over{
	width: calc(var(--avatarSize) * 0.95);
}

#sidePanel{
	height:100%;
	width:50%;
	position:absolute;
	left:100%;
	transition: all 0.3s ease-out;
	top:0%;
}

#sidePanel.visible{
	top:0%;
	left:50%;
}

#studentPage{
	background-color: var(--colorStudentInfos);	
	flex-direction:column;
	justify-content:space-between;
	height:93%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	display: none;
}

#studentPage.visible{
	display:flex;
}


/* GROUPE A et B (css), c'est cet id qui vous concerne, vous aurez certainement à rajouter d'autres ids ou class pour gérer l'affichage des éléments de votre page







*/
#projectPage{
	background-color: var(--colorProjectPage);	
	height:93%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
}

#projectPage.visible{
	display:flex;
}



/* GROUPE C et D (css), c'est cet id qui vous concerne, vous aurez certainement à rajouter d'autres ids ou class pour gérer l'affichage des éléments de votre page







*/
#partnersPage{
	background-color: var(--colorPartnersPage);	
	height:93%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
}

#partnersPage.visible{
	display:flex;
}



/* GROUPE E et F (css), c'est cet id qui vous concerne, vous aurez certainement à rajouter d'autres ids ou class pour gérer l'affichage des éléments de votre page







*/
#creditsPage{
	background-color: var(--colorCreditsPage);	
	height:93%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
}

#creditsPage.visible{
	display:flex;
}

#studentDiv{
	width:100%;
	height:100%;
}

#backZone{
	height:7%;
	width:100%;
	background-color:var(--colorBackZone);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color:var(--colorBackZoneText);
	transition: all 0.2s ease-out;
}

#backZone:hover{
	background-color:purple;
	cursor: pointer;
}	



/*GROUPE G ET H : >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


le css vous concernant est à partir de là jusqu'au prochain commentaire




*/


#identityDiv{
	
}

#photoImg{
	/* à changer */
	width: 5vmin;
}

#identityInfosDiv{
	
}

#countryDiv{
	
}

#country{
	
}

#flagImg{
	/* à changer */
	width: 5vmin;
}

#nameDiv{
	
}


#mainInstrumentDiv{
	
}

#otherInstrumentsDiv{
	
}


.bloc{
	
}

.label{
	
}
.textDescription{
	
}



/* FIN GROUPE G ET H 








*/




#botMenu{
	background-color: var(--colorBotMenu);
	width: 100%;
	height: var(--landscapeBotMenuHeight);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	z-index:999999;
}


.avatarZone{
	cursor: pointer;
	display: flex; 
	align-items: center;
	justify-content: center;
	width: calc(var(--avatarSize) * 0.95);  
	height: var(--avatarSize);	
}

.avatarZone img{  
	width: calc(var(--avatarSize) * 0.8);
	border-radius: 50%;
	transition: 0.2s all;
}

.avatarZone img.over{
	width: calc(var(--avatarSize) * 0.9);
}

@media only screen and (orientation: portrait) {
	
	#botMenu{
		height: var(--portraitBotMenuHeight);
	}
	
	#mainZone{
		height: calc(100% - var(--topMenuHeight) - var(--portraitBotMenuHeight));
		flex-direction: row;
	}
	
	#mapZone{
		height:100%;
		transition: height 0.3s ease-out;
	}

	#mapZone.minimized{
		width:100%;
		height:40%;
	}

	#sidePanel{
		height:60%;
		width:100%;
		position:absolute;
		top:100%;
		left:0%;
	}

	#sidePanel.visible{
		left:0%;
		top:40%;
	}
	
	
	
}